/* ==================== Media Query (Small mobile Screen) ==================== */
@media only screen and (max-width: 400px) {
  #customers .container {
    padding-bottom: 0;
  }
  #customers .testimonials-section {
    position: relative;
    bottom: 0;
  }
  #customers .testimonials-section .navigation {
    display: none;
  }
}
/* ==================== Media Query (Mobile Screen) ==================== */
@media only screen and (max-width: 660px) {
  #home .image {
    display: none;
  }
  #goDown {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #customers .testimonials-section .testimonial:nth-of-type(3) {
    background-color: red;
    display: none;
  }
}

/* ==================== Media Query (Small Screen) ==================== */
@media only screen and (min-width: 768px) {
}

/* ==================== Media Query (Medium Screen) ==================== */
@media only screen and (min-width: 992px) {
}

/* ==================== Media Query (Large Screen) ==================== */
@media only screen and (min-width: 1200px) {
}
