body {
  font-family: "Inter", sans-serif;
}
section {
  padding-block: 2rem;
}
h2 {
  font-weight: bold;
}
/* ==================== Home ==================== */
#home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#home .image {
  position: relative;
}
#home .image img {
  position: relative;
  left: -30px;
  z-index: 3;
}
#home .image::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border: black 3px solid;
  top: -20px;
  left: -40px;
  z-index: 1;
}
#goDown {
  position: absolute;
  right: 0.75rem;
  bottom: 0;
  width: 70px;
  height: 70px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* ==================== Services ==================== */
#services h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#services h2 span {
  width: 50px;
  height: 3px;
  background-color: black;
  display: inline-block;
  margin-right: 1rem;
}
#services .box {
  padding: 1rem;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#services .box:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* ==================== Designing Brilliance ==================== */
#brilliance ul.list {
  list-style: none;
  padding-left: 0;
}
#brilliance ul.list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
  padding-block: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
#brilliance ul.list li i {
  cursor: pointer;
}

/* ==================== Designing Steps ==================== */
#steps .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#steps .box .icon {
  margin-right: 20px;
  position: relative;
}

#steps .box .icon i {
  background-color: black;
  color: #fff;
  padding: 0.75rem;
  border-radius: 50%;
  font-size: 1rem;
  display: inline-block;
}
#steps .box:nth-of-type(2) .icon::after {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 60px);
  background-color: #ddd;
  left: 50%;
  top: 50px;
  z-index: -1;
}
#steps .box:nth-of-type(2) .icon::before {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 60px);
  background-color: #ddd;
  left: 50%;
  top: calc(-100% + 50px);
  z-index: -1;
}
#steps .box .content {
  padding-top: 0.5rem;
}

/* ==================== Customers ==================== */
#customers .container {
  padding-bottom: 5rem;
}
#customers .box {
  background-color: #1f1f1f;
  color: #fff;
  padding: 2rem;
  border: 1rem solid #fff;
}
#customers .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#customers .testimonials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  position: absolute;
  bottom: -4rem;
}
#customers .testimonial {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  outline: 2rem solid #fff;
}

#customers .customer-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* ==================== Subscribe ==================== */
#subscribe .container {
  max-width: 470px;
  position: relative;
}

#subscribe form {
  position: relative;
  bottom: -4rem;
  background-color: #fff;
}
#subscribe form .control {
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 8px;
}
#subscribe form input[type="email"] {
  border: none;
  outline: none;
  padding: 0.75rem;
}
#subscribe form input[type="submit"] {
  background-color: #000;
  color: white;
  position: absolute;
  right: 8px;
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem;
}

/* ==================== Footer ==================== */
footer {
  background-color: #000;
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: #fff;
}
footer h4 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
footer ul.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-left: 0;
}
footer ul.social li {
  background-color: #333;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul li {
  margin-bottom: 1rem;
}
footer a {
  color: #fff;
  text-decoration: none;
}
